# Ignore Visual Studio temporary files, build results, and user-specific file
## Build results
bin/
obj/
TestResults/
*.log

## Visual Studio folders
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

## ASP.NET files
App_Data/
*.dbmdl
*.bak
*.cache
*.config.user

## Publish output
publish/
out/

# NuGet
packages/

# ReSharper
_ReSharper*/
*.ncrunch*
*.localhistory/

# JetBrains Rider
.idea/
